@charset "UTF-8";
html {
  font-family: "Kiwi Maru", serif;
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4 {
  margin: 0;
}

p {
  margin: 0;
}

button {
  display: inline-block;
  padding: 12px 14px;
  margin: 0;
  color: #56453f;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #56453f;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button.text_icon_button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

i {
  color: #c39e88;
  font-size: 1.6rem;
  cursor: pointer;
}

.controller {
  width: 320px;
  padding: 16px;
  border-radius: 8px;
  background-color: #a47764;
}
.controller .item:not(:last-child) {
  margin-bottom: 12px;
}
.controller .item_input {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}
.controller .item_input input[type=text] {
  width: calc(100% - 20px);
  padding: 12px;
  color: #555555;
  font-size: 1.4rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  background-color: #f0f0e5;
}
.controller .item_input input[type=text]:focus {
  outline: none;
  box-shadow: 0 0 0 2px #56453f;
}
.controller .item_list {
  padding: 12px;
  background-color: #f0f0e5;
  border-radius: 4px;
}
.controller .item_list .item_list_section:not(:last-child) {
  margin-bottom: 12px;
}
.controller .item_list .singing_title_layout {
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 8px;
  align-items: center;
}
.controller .item_list h1 {
  padding-bottom: 4px;
  margin-bottom: 4px;
  color: #c39e88;
  font-size: 1.4rem;
  font-weight: bold;
  border-bottom: 2px solid #c39e88;
}
.controller .item_list p {
  color: #555555;
  font-size: 1.4rem;
  font-weight: bold;
}
.controller .item_list ol {
  height: 219px;
  padding: 0;
  margin: 0;
  border-radius: 4px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.controller .item_list li {
  color: #555555;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.5em;
  list-style: none;
}
.controller .item_controller {
  display: flex;
  justify-content: end;
  gap: 8px;
}
.controller .item_controller_button_with_popup {
  position: relative;
}
.controller .setting_button {
  padding: 12px;
}
.controller .popup {
  position: absolute;
  top: -52px;
  right: -52px;
  width: 304px;
  padding: 10px 8px;
  color: #ffffff;
  font-size: 1.2rem;
  background-color: #56453f;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.controller .popup::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 69px;
  width: 10px;
  height: 8.6602540378px;
  -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
          clip-path: polygon(0 0, 100% 0, 50% 100%); /* 頂点の順序を調整 */
  background-color: #56453f;
}
.controller .popup .popup_contents {
  display: grid;
  grid-template-columns: 1fr 25px 25px;
  gap: 8px;
  align-items: center;
}
.controller .popup .popup_contents button {
  display: flex;
  width: 100%;
  padding: 4px;
  align-items: center;
  justify-content: center;
}
.controller .popup .popup_contents button#confirm-button {
  background-color: #e6ffea;
}
.controller .popup .popup_contents button#cancel-button {
  background-color: #ffe6e6;
}
.controller #setting-popup.popup {
  right: 0px;
  padding: 8px;
}
.controller #setting-popup.popup::after {
  right: 18px;
}
.controller #setting-popup.popup .popup_contents {
  grid-template-columns: 1fr max-content;
}
.controller #setting-popup.popup .color_setting {
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 8px;
  align-items: center;
}
.controller #setting-popup.popup .color_setting #color-picker {
  width: 27px;
}
.controller #setting-popup.popup .color_setting .selected-color {
  color: #f0f0e5;
}
.controller #copy-popup.popup {
  display: block;
  right: -102px;
  padding: 14px 8px;
  transition: 0.3s;
}
.controller #copy-popup.popup::after {
  right: 118px;
}
.controller #copy-popup.popup .popup_contents {
  grid-template-columns: 1fr;
}

.view {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 320px;
  padding: 8px 16px 16px;
  background-color: rgba(0, 0, 0, 0.3);
}
.view .streaming_info {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 16px;
  align-items: end;
}
.view .clock_layout {
  display: inline-block;
  text-align: center;
}
.view .clock_layout #clock-time {
  margin-bottom: 4px;
  color: #56453f;
  font-size: 3.2rem;
  border-bottom: 1px solid #56453f;
}
.view .clock_layout #clock-date {
  color: #56453f;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 1px;
}
.view .account {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.view .account p {
  color: #555555;
  font-size: 1.4rem;
  font-weight: bold;
}
.view h1 {
  padding-bottom: 4px;
  margin-bottom: 4px;
  color: #56453f;
  font-size: 1.4rem;
  font-weight: bold;
  border-bottom: 1px solid #56453f;
}
.view .now_singing p {
  color: #555555;
  font-size: 1.6rem;
  font-weight: bold;
}
.view .set_list ol {
  height: 320px;
  padding: 8px 0;
  margin: 0;
  color: #555555;
  border-bottom: 1px solid #000;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.view .set_list li {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.5em;
  list-style: none;
}/*# sourceMappingURL=style.css.map */