@use "styles/constants" as *;

html {
  font-family: "Kiwi Maru", serif;
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4 {
  margin: 0;
}

p{
  margin: 0;
}

button {
  display: inline-block;
  padding: 12px 14px;
  margin: 0;
  color: $accent-color;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: $accent-color;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  &.text_icon_button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
}

i{
  color: $base-color;
  font-size: 1.6rem;
  cursor: pointer;
}

.controller{
  width: 320px;
  padding: 16px;
  border-radius: 8px;
  background-color: $main-color;
  .item {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  .item_input{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    input[type="text"] {
      width: calc(100% - 20px);
      padding: 12px;
      color: #555555;
      font-size: 1.4rem;
      font-weight: bold;
      border: none;
      border-radius: 4px;
      background-color: $contents-color;
      &:focus {
        outline: none;
        box-shadow: 0 0 0 2px $accent-color;
      }
    }
  }

  .item_list{
    padding: 12px;
    background-color: $contents-color;
    border-radius: 4px;
    .item_list_section{
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
    .singing_title_layout{
      display: grid;
      grid-template-columns: 1fr max-content;
      gap: 8px;
      align-items: center;
    }
    h1{
      padding-bottom: 4px;
      margin-bottom: 4px;
      color: $base-color;
      font-size: 1.4rem;
      font-weight: bold;
      border-bottom: 2px solid $base-color;
    }
    p{
      color: $font-color;
      font-size: 1.4rem;
      font-weight: bold;
    }
    ol{
      height: calc(235px - 16px);
      padding: 0;
      margin: 0;
      border-radius: 4px;
      overflow-y: scroll;
      scrollbar-width: none;
      -ms-overflow-style: none;
    }
    li{
      color: $font-color;
      font-size: 1.4rem;
      font-weight: bold;
      line-height: 1.5em;
      list-style: none;
    }
  }

  .item_controller{
    display: flex;
    justify-content: end;
    gap: 8px;
  }

  .item_controller_button_with_popup{
    position: relative;
  }

  .setting_button{
    padding: 12px;
  }

  .popup{
    display: none;
    position: absolute;
    top: -52px;
    right: -48px;
    width: calc(320px - 16px);
    padding: 10px 8px;
    color: #ffffff;
    font-size: 1.2rem;
    background-color: $accent-color;
    border-radius: 4px;
    &::after{
      content: "";
      position: absolute;
      top: 100%;
      right: 66px;
      width: 10px;
      height: calc(10px / 2 * tan(60deg));
      clip-path: polygon(0 0, 100% 0, 50% 100%); /* 頂点の順序を調整 */
      background-color: $accent-color;
    }
    .popup_contents{
      display: grid;
      grid-template-columns: 1fr 25px 25px;
      gap: 8px;
      align-items: center;
      button {
        display: flex;
        width: 100%;
        padding: 4px;
        align-items: center;
        justify-content: center;
        &.allow {
          background-color: #e6ffea;
        }
        &.cancel {
          background-color: #ffe6e6
        }
      }
    }
  }
  #setting-popup.popup{
    right: 0px;
    padding: 8px;
    &::after{
      right: 16px;
    }
    .popup_contents{
      grid-template-columns: 1fr max-content;
    }
    .color_setting{
      display: grid;
      grid-template-columns: 1fr max-content;
      gap: 8px;
      align-items: center;
      #color-picker{
        width: 27px;
      }
      .selected-color{
        color: $contents-color;
      }
    }
  }
  #copy-popup.popup{
    display: block;
    right: -98px;
    padding: 14px 8px;
    transition: 0.3s;
    opacity: 0;
    &::after{
      right: 114px;
    }
    .popup_contents{
      grid-template-columns: 1fr;
    }
  }
}

.view{
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 320px;
  padding: 8px 16px 16px;
  background-color: rgba(0, 0, 0, 0.3);
  .streaming_info{
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 16px;
    align-items: end;
  }
  .clock_layout{
    display: inline-block;
    text-align: center;
    #clock-time{
      margin-bottom: 4px;
      color: $accent-color;
      font-size: 3.2rem;
      border-bottom: 1px solid $accent-color;
    }
    #clock-date{
      color: $accent-color;
      font-size: 1.4rem;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }
  .account{
    display: flex;
    flex-direction: column;
    gap: 4px;
    p{
      color: $font-color;
      font-size: 1.4rem;
      font-weight: bold;
    }
  }

  h1{
    padding-bottom: 4px;
    margin-bottom: 4px;
    color: $accent-color;
    font-size: 1.4rem;
    font-weight: bold;
    border-bottom: 1px solid $accent-color;
  }

  .now_singing{
    p{
      color: $font-color;
      font-size: 1.6rem;
      font-weight: bold;
    }
  }
  
  .set_list{
    ol{
      height: 320px;
      padding: 8px 0;
      margin: 0;
      color: $font-color;
      border-bottom: 1px solid #000;
      overflow-y: scroll;
      scrollbar-width: none;
      -ms-overflow-style: none;
    }
    li{
      font-size: 1.6rem;
      font-weight: bold;
      line-height: 1.5em;
      list-style: none;
    }
  }
}