html {
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-size: 10px;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
}

@keyframes scroll-animation {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes progress-animation {
  0% {
    width: 20%;
  }
  100% {
    width: 80%;
  }
}
@keyframes anim-radio-1 {
  0% {
    box-shadow: 0 0 0 1px transparent;
  }
  50% {
    box-shadow: 0 0 0 10px rgba(232, 247, 255, 0.2);
  }
  100% {
    box-shadow: 0 0 0 10px transparent;
  }
}
:root {
  --main-color: #e8f7ff;
  --accent-color: #738fe2;
  --text-color-bold: #738fe2;
  --text-color: #b4c0c7;
  --set-list-text-color: #000;
  --progress-bar-color: #e7ebf8;
}

main#view #container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 177.7777777778vw;
  box-sizing: border-box;
}
main#view #setting-area {
  position: absolute;
  top: 128px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: calc(100% - 256px);
  padding: 24px 32px 32px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 100;
}
main#view #setting-area .setting_layout {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
main#view #setting-area .setting_layout .setting_heading h2 {
  margin-bottom: 8px;
  color: var(--text-color-bold);
  font-size: 4rem;
  font-weight: 900;
}
main#view #setting-area .setting_layout .setting_heading p {
  font-size: 3.2rem;
  font-weight: 900;
}
main#view #setting-area .setting_layout .setting_item {
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 8px;
  font-size: 3.2rem;
  font-weight: 900;
}
main#view #setting-area .setting_layout .setting_item .toggle_button {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 50px;
  border-radius: 50px;
  background-color: #b4c0c7;
  cursor: pointer;
  transition: background-color 0.4s;
}
main#view #setting-area .setting_layout .setting_item .toggle_button:has(:checked) {
  background-color: #738fe2;
}
main#view #setting-area .setting_layout .setting_item .toggle_button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  content: "";
  transition: left 0.4s;
}
main#view #setting-area .setting_layout .setting_item .toggle_button:has(:checked)::after {
  left: 50px;
}
main#view #setting-area .setting_layout .setting_item .toggle_button input {
  display: none;
}
main#view #setting-area .setting_layout .setting_item input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 240px;
  background: transparent;
  cursor: pointer;
}
main#view #setting-area .setting_layout .setting_item input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 16px;
  background: var(--progress-bar-color);
  border-radius: 16px;
}
main#view #setting-area .setting_layout .setting_item input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -4px; /* (16px track - 24px thumb) / 2 */
  width: 24px;
  height: 24px;
  background: var(--accent-color);
  border-radius: 50%;
}
main#view #setting-area .setting_layout .setting_item input[type=range]::-moz-range-track {
  width: 100%;
  height: 16px;
  background: var(--progress-bar-color);
  border-radius: 16px;
}
main#view #setting-area .setting_layout .setting_item input[type=range]::-moz-range-thumb {
  width: 24px;
  height: 24px;
  background: var(--accent-color);
  border-radius: 50%;
  border: none;
}
main#view #setting-area .setting_layout .setting_item.item_radio .set_list_position {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 0;
  border: none;
}
main#view #setting-area .setting_layout .setting_item.item_radio .set_list_position label {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
main#view #setting-area .setting_layout .setting_item.item_radio .set_list_position label::before,
main#view #setting-area .setting_layout .setting_item.item_radio .set_list_position label:has(:checked)::after {
  border-radius: 50%;
  content: "";
}
main#view #setting-area .setting_layout .setting_item.item_radio .set_list_position label::before {
  width: 32px;
  height: 32px;
  background-color: var(--main-color);
}
main#view #setting-area .setting_layout .setting_item.item_radio .set_list_position label:has(:checked)::after {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: var(--accent-color);
  animation: anim-radio-1 0.3s linear;
}
main#view #setting-area .setting_layout .setting_item.item_radio .set_list_position input {
  display: none;
}
main#view #character-area {
  position: relative;
  flex: 1 1 auto;
  width: 100%;
  border: 64px solid var(--main-color);
  border-bottom: none;
  box-sizing: border-box;
}
main#view #character-area .set_list_area {
  position: absolute;
  top: 20px;
  left: 32px;
  width: 33%;
  height: calc(100% - 40px);
  color: var(--set-list-text-color);
  font-size: 3.2rem;
  font-weight: 900;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  overflow-y: scroll;
}
main#view #character-area .set_list_area::-webkit-scrollbar {
  display: none;
}
main#view #character-area .set_list_area ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
main#view #player-area {
  padding: 40px 64px 64px;
  background-color: var(--main-color);
}
main#view .song_info_layout {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  gap: 6%;
  flex-direction: row;
  margin-bottom: 6%;
}
main#view .song_info_layout .song_info {
  min-width: 0;
}
main#view .song_info_layout .scroll_container {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
main#view .song_info_layout .scroll_item {
  display: inline-block;
  white-space: nowrap;
}
main#view .song_info_layout .scroll_item.is_scrolling {
  animation: scroll-animation 15s linear infinite;
}
main#view .song_info_layout .song_title {
  color: var(--text-color-bold);
  font-size: 6.4rem;
  font-weight: 900;
}
main#view .song_info_layout .song_artist {
  color: var(--text-color);
  font-size: 4.4rem;
  font-weight: 700;
}
main#view .song_info_layout .song_buttons {
  display: flex;
  gap: 40px;
  align-items: center;
}
main#view .song_info_layout .favorite_button,
main#view .song_info_layout .more_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
main#view .song_info_layout .favorite_button i,
main#view .song_info_layout .more_button i {
  color: #fff;
  font-size: 4rem;
}
main#view .progress_bar {
  position: relative;
  width: 100%;
  height: 16px;
  border-radius: 16px;
  background-color: var(--progress-bar-color);
}
main#view .progress_bar .progress {
  width: 60%;
  height: 100%;
  background-color: var(--accent-color);
  border-radius: 16px;
  animation: progress-animation 5s ease-in-out infinite alternate;
}
main#view #control-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15%;
  margin-top: 8%;
}
main#view #control-bar i {
  color: #fff;
  font-size: 6.4rem;
}
main#view #control-bar .control_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
main#view #volume-bar-layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4%;
  margin-top: 6%;
}
main#view #volume-bar-layout .volume_button i {
  color: var(--accent-color);
  font-size: 4rem;
}
main#view #volume-bar-layout .volume_bar {
  position: relative;
  width: 100%;
  height: 16px;
  border-radius: 16px;
  background-color: var(--progress-bar-color);
}
main#view #volume-bar-layout .volume_bar .volume {
  width: 80%;
  height: 100%;
  background-color: var(--accent-color);
  border-radius: 16px;
}
main#view #option-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24%;
  margin-top: 6%;
}
main#view #option-layout .option_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
main#view #option-layout .option_button i {
  color: #fff;
  font-size: 4.8rem;
}
main#view #option-layout .plus_button input[type=file] {
  display: none;
}/*# sourceMappingURL=style.css.map */