@charset "UTF-8";
html {
  font-family: "Kiwi Maru", serif;
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4 {
  margin: 0;
}

p {
  margin: 0;
}

button[data-button=primary] {
  display: inline-block;
  padding: 12px 14px;
  margin: 0;
  color: #56453f;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #56453f;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button[data-button=primary].text-icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

button[data-button=secondary] {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 14px;
  margin: 0;
  color: #56453f;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #56453f;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[data-button=tertiary] {
  display: inline-block;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
}

i {
  color: #c39e88;
  font-size: 1.6rem;
  cursor: pointer;
}

#controller {
  width: 320px;
  padding: 16px;
  border-radius: 8px;
  background-color: #a47764;
}

.controller-popup {
  position: absolute;
  bottom: 50px;
  width: 304px;
  padding: 10px 8px;
  color: #ffffff;
  font-size: 1.2rem;
  background-color: #56453f;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 100;
}
.controller-popup::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 16px;
  width: 10px;
  height: 8.6602540378px;
  -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
          clip-path: polygon(0 0, 100% 0, 50% 100%); /* 頂点の順序を調整 */
  background-color: #56453f;
}
.controller-popup .popup-content {
  display: grid;
  grid-template-columns: 1fr 25px 25px;
  gap: 8px;
  align-items: center;
}
.controller-popup .popup-content:not(:last-child) {
  margin-bottom: 8px;
}
.controller-popup .popup-content button {
  display: flex;
  width: 100%;
  padding: 4px;
  align-items: center;
  justify-content: center;
}
.controller-popup .popup-content button#confirm-button {
  background-color: #e6ffea;
}
.controller-popup .popup-content button#cancel-button {
  background-color: #ffe6e6;
}

#copy-popup {
  padding: 15px 8px;
}
#copy-popup::after {
  right: 115px;
}
#copy-popup .popup-content {
  grid-template-columns: 1fr;
}

#confirm-popup {
  padding: 11.5px 8px;
}
#confirm-popup::after {
  right: 65px;
}

#setting-popup .popup-content {
  grid-template-columns: 1fr max-content;
}
#setting-popup .color-setting {
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 8px;
  align-items: center;
}
#setting-popup .color-setting .selected-color {
  color: #ffffff;
}
#setting-popup .color-setting #color-picker {
  width: 27px;
}
#setting-popup .background-setting {
  position: relative;
  display: inline-flex;
  align-items: center;
}
#setting-popup .background-setting::after {
  content: "";
  position: absolute;
  right: 8px;
  width: 10px;
  height: 7px;
  background-color: #56453f;
  -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
          clip-path: polygon(0 0, 100% 0, 50% 100%);
  pointer-events: none;
}
#setting-popup .background-setting select {
  min-width: 86px;
  height: 27px;
  padding: 4px 24px 4px 8px;
  color: #555555;
  font-size: 1em;
  background-color: #ffffff;
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.controller-item:not(:last-child) {
  margin-bottom: 12px;
}
.controller-item .input-group {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 12px;
}
.controller-item .input-group input[type=text] {
  width: calc(100% - 20px);
  padding: 12px;
  color: #555555;
  font-size: 1.4rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
}
.controller-item .input-group input[type=text]:focus {
  outline: none;
  box-shadow: 0 0 0 2px #56453f;
}
.controller-item .input-group input[type=text]::-moz-placeholder {
  color: #c39e88;
}
.controller-item .input-group input[type=text]::placeholder {
  color: #c39e88;
}
.controller-item .input-group #add-button {
  position: absolute;
  top: 50%;
  right: 4px;
  padding: 8px 10px;
  transform: translateY(-50%);
  border: none;
  border-left: 2px solid #c39e88;
  background-color: #ffffff;
  cursor: pointer;
}
.controller-item .input-group #add-button i {
  font-size: 1.2rem;
}
.controller-item.list-area {
  padding: 12px;
  background-color: #ffffff;
  border-radius: 4px;
}
.controller-item.list-area .item_list_section:not(:last-child) {
  margin-bottom: 12px;
}
.controller-item .list-section:not(:last-child) {
  margin-bottom: 12px;
}
.controller-item .list-section h2 {
  padding-bottom: 4px;
  margin-bottom: 4px;
  color: #c39e88;
  font-size: 1.4rem;
  font-weight: bold;
  border-bottom: 2px solid #c39e88;
}
.controller-item .list-section p {
  color: #555555;
  font-size: 1.4rem;
  font-weight: bold;
}
.controller-item .list-section ol {
  height: 219px;
  padding: 0;
  margin: 0;
  border-radius: 4px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.controller-item .list-section ol::-webkit-scrollbar {
  display: none;
}
.controller-item .list-section li {
  color: #555555;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.5em;
  list-style: none;
}
.controller-item .list-section .singing-title-group {
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 8px;
  align-items: center;
}
.controller-item .list-section #singing-title-clear-button {
  background-color: #ffffff;
}
.controller-item .controller-button-group {
  position: relative;
  display: flex;
  justify-content: end;
  gap: 8px;
}
.controller-item .controller-button-group #setting-button {
  padding: 12px;
}

#view {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 320px;
  padding: 8px 16px 16px;
  background-color: rgba(255, 255, 255, 0.5);
}
#view .streaming-info {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 16px;
  align-items: end;
}
#view .clock-layout {
  display: inline-block;
  text-align: center;
}
#view .clock-layout #clock-time {
  margin-bottom: 4px;
  color: #56453f;
  font-size: 3.2rem;
  border-bottom: 1px solid #56453f;
}
#view .clock-layout #clock-date {
  color: #56453f;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 1px;
}
#view .account {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
#view .account p {
  color: #56453f;
  font-size: 1.4rem;
  font-weight: bold;
}
#view h1 {
  padding-bottom: 4px;
  margin-bottom: 4px;
  color: #56453f;
  font-size: 1.4rem;
  font-weight: bold;
  border-bottom: 1px solid #56453f;
}
#view .now-singing p {
  color: #555555;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1em;
}
#view .set-list ol {
  height: 320px;
  padding: 0 0 8px;
  margin: 0;
  color: #555555;
  border-bottom: 1px solid #56453f;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
#view .set-list ol::-webkit-scrollbar {
  display: none;
}
#view .set-list li {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.5em;
  list-style: none;
}/*# sourceMappingURL=style.css.map */